body {
  display: flex;
  height: 100vh;
}
.roundedBox {
  flex-direction: column;
  display: flex;
  margin: auto;
  border: 1px solid black;
  border-radius: 5vw;
  width: 60vw;
  height: 50vh;
}
h1 {
  display: flex;
  margin: auto;
  font-weight: lighter;
}
h3 {
  display: flex;
  margin: auto;
  font-weight: lighter;
}
.clickMe {
  margin: auto;
  border-radius: 5000px;
  color: white;
  background-color: rgb(49, 116, 138);
  width: 25%;
  height: 10%;
  letter-spacing: 2px;
  font-weight: lighter;
}
.clickMeToo {
  margin: auto;
  border-radius: 5000px;
  color: white;
  background-color: rgb(49, 116, 138);
  width: 25%;
  height: 10%;
  letter-spacing: 2px;
  font-weight: lighter;
}
